* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    box-sizing: border-box;
}

.main-div {
    width: 85vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #85586F;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.header {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px 10px 15px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    user-select: none;
}

.leave-button-for-phone{
    display: none;
}

.patent-body {
    width: 100%;
    height: 75vh;
    display: flex;
}

.users-rooms-info-parent-div {
    flex: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 20px 0;

}

.user-room-info-div {
    padding: 10px;
    width: 100%;
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 1rem;
    user-select: none;
}

.members-outer-parent-div{
    width: 100%;
    height: 50%;
    color: #ffffff;
}

.members-outer-parent-div p{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 5px;
}

.members-outer-parent-div #members-logo{
    font-size: 25px;
    margin-right: 5px;

}

.members-inner-parent-div{
    height: 100%;
    overflow-y: scroll;
    user-select: none;

}
.members-inner-parent-div p{
    margin: 10px 20px 0px 30px ;
}
.members-inner-parent-div::-webkit-scrollbar{
    display: none;
}
#members-logo{
    font-size: 20px;
    margin-left: 5px;
}


.members-item-div #member-logo{
    margin: 0 10px 0 0;
}

#leave-btn-logo {
    font-size: 20px;
    color: #85586F;
}

.users-rooms-info-parent-div button {
    padding: 10px;
    border-radius: 5px;
    color: #85586F;
    background-color: #F8EDE3;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.users-rooms-info-parent-div button:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.users-rooms-info-parent-div button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.users-rooms-info-parent-div button:focus {
    outline: none;
}

#user-info-title {
    margin: 15px 0 10px 0;
    font-size: 17px;
}

#user-info-value {
    padding: 0 10px 0 20px;
    font-size: 13px;
}

.parent-chatting-div {
    flex: 75%;
}

.chat-message-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    background-color: #F8EDE3;
}

.chat-message-div::-webkit-scrollbar {
    display: none;
}

.chat-message-item {
    width: 85%;
    margin: 1rem;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    background-color: #DFD3C3;
}

.me {
    width: 20vw;
    margin: 1rem 2rem 1rem 1rem;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    background-color: #D0B8A8;
    align-self: flex-end;
    overflow-wrap: break-word;
}

.others {
    width: 20vw;
    margin: 1rem 1rem 1rem 2rem;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    background-color: #85586F;
    align-self: flex-start;
    color: #ffffff;
    overflow-wrap: break-word;
}

#sender-name-notification{
    display: none;
}
#sender-name-message{
    font-size: 12px;
}

#send-time-notification{
    margin: 0 5px 0 5px;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
}
#send-time-message{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}
.chat-message-div {
    height: 68vh;
    width: 100%;
}

.footer {
    height: 7vh;
    width: 100%;
}

.form-div {
    height: 100%;
    width: 100%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.635) 10px 20px 10px 0px, rgba(0, 0, 0, 0.571) 5px 0px 15px 2px;
}

.form-div input {
    flex: 80%;
    padding: 0 20px 0 20px;
    border: none;
    background-color: #F8EDE3;
}

.form-div input:focus {
    outline: none;
}

.form-div button {
    flex: 20%;
    background-color: #85586F;
    border: none;
    color: #ffffff;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-div button:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.form-div button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.form-div button:focus {
    outline: none;
}

#send-btn-logo {
    font-size: 25px;
    margin: 0 0 3px 10px;
    color: #ffffff;
}


@media only screen and (max-device-width: 1000px) {}

@media only screen and (max-device-width: 640px) {
    .main-div {
        width: 100vw;
        height: 94vh;
        position: fixed;
        top: 0;
        right: 0;
        border-radius: 0px;
    }

    .header {
        font-size: 10px;
    }
    
    .users-rooms-info-parent-div {
        display: none;
    }
    
    .user-room-info-div {
        display: none;
    }
    .leave-button-for-phone{
        display: block;
        padding: 10px;
        border-radius: 5px;
        color: #85586F;
        background-color: #F8EDE3;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .chat-message-div{
        transform: translateY(-10vh);
        height: 78vh;
        width: 100%;
    }
    #sender-name-notication , #send-time-notification{
        margin: 0 5px 0 5px;
        font-size: 12px;
    }

    .meta-message{
        /* background-color: violet; */
        display: flex;
    }

    #sender-name-message{
        /* background-color: blue; */
        margin: 0 5px 0 5px;
        font-size: 12px;
        flex: 45%;
        height: fit-content;
    }
    #send-time-message{
        /* background-color: chartreuse; */
        font-size: 12px;
        margin: 0 5px 0 5px;
    }

    .me {
        width: 40vw;
        margin: 1rem 2rem 1rem 1rem;
        border-radius: 10px;
        display: flex;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        background-color: #D0B8A8;
        align-self: flex-end;
        overflow-wrap: break-word;
    }
    
    .others {
        width: 40vw;
        margin: 1rem 1rem 1rem 2rem;
        border-radius: 10px;
        display: flex;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        background-color: #85586F;
        align-self: flex-start;
        color: #ffffff;
        overflow-wrap: break-word;
    }

    .form-div {
      transform: translateY(-10vh);
    }

    .form-div input {
        flex: 80%;
        padding: 0 20px 0 20px;
        border: none;
        background-color: #F8EDE3;
    }



}